@import "tailwindcss";


@theme{
  --color-text:#FF6500;
  --color-mybg:#000000;
  --color-textColor:#ffffffb1
}


.landingp{
  background-image: url(/src/UI/HomeFolder/HomePictures/background.webp);
  background-size: cover;
  background-position: fixed;
}

